:root {
  --default-text-color: #333;
  --theme-color: #74cfae;
  --BG-gray: #f2f2f2;
  --BG-darkgray: #4e4e4e;
  --content-width-PC: 1100px;
  --content-width-TAB-SP: 97%;
}

body {
  background-color: var(--BG-gray);
  font-family: 'Raleway', sans-serif;
}

.inner {
  /* width: var(--content-width-PC); */
  margin: 0 auto;
}

/* SP Style----------------------------------------------------------- */
@media screen and (max-width: 767px) {
  .contact_button_box {
    display: none;
  }

  .header-content {
    margin: 0 15px auto;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 1199px) and (min-width:768px) {
  .contact_button_box {
    display: none;
  }
  .header-content {
    margin: 0 15px auto;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .humbuger_button_box {
    display: none;
  }

  .inner {
    width: var(--content-width-PC);
  }
}

/* header------------------------------------------------- */

header {
  background-color: #fff;
  position: fixed;
  top: 0px;
  left:0px;
  right: 0px;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_icon {
  padding: 15px;
  opacity: 50%;
}

.isgray {
  color: gray;
}

.isthemecolor {
  color: var(--theme-color);
}

.green_button {
  background-color: var(--theme-color);
  border-radius: 3px;
  transition: all 0.3s;
}

.button_message {
  font-size: 12px;
  padding: 14px 12px;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s;
}

.humbuger_button_box {
  border-radius: 4px;
  padding: 5px 10px;
  border: 1px solid #ddd
}

a.green_button.button_message:hover{
  color: var(--default-text-color);
}

/* theme---------------------------------------------------- */

.theme {
  margin-top: 250px;
  margin-bottom: 250px;
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.theme_text {
  font-size: 90px;
  font-weight: 700;
  color: var(--theme-color);
  margin-bottom: 20px;
}

.subtheme_text {
  font-size: 30px;
  color: #c0c0c0;
}

/* section---------------------------------------------------------- */

.themecolor_BG {
  background-color: var(--theme-color);
}

.section_inner {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}

.section_title {
  font-size: 24px;
  color: #fff;
  margin-bottom: 35px;
}

.section_text {
  font-size: 20px;
  line-height: 30px;
  word-break: break-all;
  color: #fff;
}

.rightbox {
  text-align: center;
}

.leftbox{
  /* margin-left: 100px; */
}


@media screen and (max-width: 1199px){
  .section_inner {
    display: block;
    text-align: center;
  }

  .rightbox {
    padding-bottom: 25px;
    padding-top: 20px;
  }

}


/* article----------------------------------------------------------- */

.article_title {
  padding-top: 60px;
  font-size: 24px;
  padding-bottom: 40px;
  text-align: center;
}

.works {
  font-size: 0;
}

.works .work_img{
  margin-right: 100px;
  margin-bottom: 80px;
}


.work_img {
  width: 300px;
  height: 300px;
  opacity: 0.7;
  transition: all 0.3s;
}

.work_img:hover {
  opacity: 1;
}

.work_description {
  margin-top: 90px;
  margin-bottom: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.work_text_box {
  text-align: center;
}

.email_button {
}

.work_text_box + .email_button {
  margin-left: 90px;
}

.email_button_message {
  font-size: 12px;
  padding: 14px 20px;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s;
}

a.green_button.email_button_message:hover {
  color: var(--default-text-color);
}

@media screen and (min-width: 1200px) {
  .works .work_img:nth-child(3n+3){
    margin-right: 0px;
  }

  .works .work_img:nth-child(n+4){
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 1199px) {
  .works .work_img{
    margin: 0 auto;
    display: block;
  }

  .works .work_img:nth-child(3n+3){
    margin-bottom: 80px;
  }

  .work_description {
    margin-top: 90px;
    margin-bottom: 70px;
    display: block;
    text-align: center;
  }

  .work_text_box + .email_button {
    margin-left: 0px;
    margin-top: 40px;
    margin-bottom: 70px;
  }
}
/* OUR SKILLS---------------------------------------------- */

.darkgray_BG {
  background-color: var(--BG-darkgray);
}

.ourskills_inner {
  padding-top: 70px;
  padding-bottom: 100px;
  text-align: center;
}

.white_title_text {
  color: #fff;
  font-size: 24px;
}

.skills_container {
  display: flex;
  align-items: center;
  padding-top: 50px;
}

.skill + .skill {
  padding-left: 180px;
}

.skill {
  color: #fff;
  line-height: 30px;
}


@media screen and (max-width:1199px) {
  .skills_container {
    display: block;
    text-align: center;
  }

  .skill + .skill {
    padding-top: 88px;
    padding-left: 0px;
  }
}

/* nav---------------------------------------------- */

.nav_inner {
  margin-top: 200px;
  margin-bottom: 200px;
}

.sns_icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sns_icon {
  width: 185px;
  box-sizing: border-box;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: all 0.3s;
}

.sns_icon:hover {
  background-color: #fff;
}

@media screen and (max-width:767px) {

  .nav_inner {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .sns_icons {
    display: block;
  }

  .sns_icon {
    display: block;
    margin: auto;
    width: 100%;
  }
}
/* footer---------------------------------------------- */

.footer_inner {
  padding-top: 20px;
  padding-bottom: 25px;
  text-align: right;
}

.footer_white_text {
  color: #fff;
}
